$fontMainTitle: "Archivo Black", sans-serif;
$fontTextButton: "Archivo", sans-serif;
$fontContent: "Roboto", sans-serif;

// TODO: organizar variáveis de cores
$colorTextPrimary: #1E1B4B;
$colorTextSecondary: #5242E3;
$bgColorPrimary: #5242E3;
$bgColorSecondary: #382f97;